.root {
    -fx-background-image: url("../pictures/blackjackgreen.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

.button {
    -fx-background-color: yellow;
    -fx-opacity: 0.8;
}

.button:hover {
    -fx-background-color: orange;
    -fx-opacity: 0.8;
}
.label{
    -fx-text-fill: yellow;
    -fx-opacity: 0.8;
}