.root {
    -fx-background-image: url("../pictures/blackjackgreen.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

.label {
    -fx-text-fill: yellow;
    -fx-opacity: 0.9;
}
.button{
    -fx-background-color: black;
}
#btnCasinoStyle{
    -fx-background-image: url('../pictures/btnCasinoPicture.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}
#btnTirolStyle{
    -fx-background-image: url('../pictures/btnTirolPicture.jpg');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}
#btnStrandStyle{
    -fx-background-image: url('../pictures/btnStrandPicture.jpg');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}
#btnZuhauseStyle{
    -fx-background-image: url('../pictures/btnWeltallPicture.jpg');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}
.button:hover {
    -fx-opacity: 0.9;
}